h1.title
	font-family georgia, serif
	font-size 32px
	font-weight bold
	margin 15px 0 30px 0
	
p.body
	font-family georgia, serif
	font-size 17px
	
h2.block-title
	font-weight bold
	margin-top 90px
	
ul.articles
	> li
		border-bottom 1px dotted #ccc
		> a
			font-size 16px
			color black
			font-weight 200
			display block
			padding 6px 0 6px 10px
			&:hover
				color #de5041